<div id="randomBeer">
    <img src="{{image_url}}" alt="">
    <div id="{{description}}">
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <h4>{{description}}</h4>
        <h4><b>Food Pairing</b></h4>
        <h4>
            <ul>
                <li>{{food_pairing}}</li>
            </ul>
        </h4>
        <h4><b>Brewers Tips</b> : {{brewers_tips}}</h4>
    </div>
</div>